.sidebar-dash.activeDash  .cascata-criar-anunc span{
  display: block;
}

.cascata-criar-anunc{
  display: flex !important;
  flex-wrap: wrap;
}

.a_meus_anunc{
  color: #0075ff !important;
    /* border-bottom: 3px solid #0075ff !important; */
    background-color: #0075ff15 !important;
    /* border-top-left-radius: 4px !important;
    border-top-right-radius: 4px !important;

    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important; */
}


.checkbox label{
  align-items: flex-end;
}

.entrar-items-content-1 {
  gap: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.entrar-items-content-1 a i{
  font-size: 1rem;
  color: #616161;
}

.entrar-items-content-1 a{
  margin-bottom: 0.5rem;
}
